@page "/"

@using System.Threading

@inject ISolutionProviderService SolutionProviderService; 

<div style="height: 100%;">
    <TelerikGrid Data="@EventsList" Height="100%"
                 Pageable="true" Sortable="true"
                 Resizable="true" Reorderable="true">
        <GridToolBar>
            <GridCommandButton OnClick="@OpenRequestData" Primary="true">Request Traceability Data</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridCommandColumn Width="100px">
                <GridCommandButton OnClick="@ViewRaw" Primary="true">View Raw Data</GridCommandButton>
            </GridCommandColumn>
            <GridColumn Field="EventType" Width="200px" />
            <GridColumn Field="Action" Width="200px" />
            <GridColumn Field="BusinessStep" Width="200px" />
            <GridColumn Field="Disposition" Width="200px" />
        </GridColumns>
    </TelerikGrid>

    <TelerikWindow @bind-Visible="@showRawData">
        <WindowTitle>
            <strong>Raw Data</strong>
        </WindowTitle>
        <WindowContent>
            <textarea style="height: 500px; width: 500px;">
                @rawData
            </textarea>
            <center style="margin-top: 1.0em;">
                <button class="k-button" @onclick="() => { this.showRawData = false; }" style="width: 150px; margin-left: 0.2em;">Close</button>
            </center>
        </WindowContent>
    </TelerikWindow>

    <TelerikWindow @bind-Visible="@showRequestData">
        <WindowTitle>
            <strong>Request Data</strong>
        </WindowTitle>
        <WindowContent>
            @if (animationStep == 1)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>JSON Solution Provider</div>
                        </div>
                        <div style="flex: 0.2;">
                            <div style="margin-top: 25px;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                                <img src="/img/sending.gif" height="50" width="50" style="display: inline-block;" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px;">
                            The JSON Solution Provider sends a request to it's Traceability Driver asking
                            for event traceability data for the requested EPC. In the request it provides
                            the Account that is making the request and the Trading Party they are
                            requesting the data from.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 2)
            {
                <center style="width: 100%;">
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <img src="/img/gs1.png" height="50" width="50" />
                                    <div style="margin-top: 10px;"><b>GS1 Digital Link</b></div>
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The Traceability Driver for the JSON Solution Provider uses the GS1 Digital Link URL
                            of the Trading Party to talk to the Traceability Driver for that Trading Party. In this instance, they are
                            talking to the Traceability Driver for the XML Solution Provider.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 3)
            {
                <center style="width: 100%;">
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <img src="/img/gs1.png" height="50" width="50" />
                                    <div style="margin-top: 10px;"><b>GS1 Digital Link</b></div>
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            Using the GS1 Digital Link interface, JSON Solution Provider's Traceability Driver then looks up
                            the URL for the EPCIS Query Interface.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 4)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <img src="/img/gs1.png" height="50" width="50" />
                                    <div style="margin-top: 10px;"><b>EPCIS Query Interface</b></div>
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            Using the EPCIS Query Interface, it then queries for all events that the requested EPC is a part of.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 5)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 35px;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>XML Solution Provider</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The XML Solution Provider's Traceability Driver routes the request to the XML Solution Provider for the events. The XML Solution Provider
                            returns the events in it's local format.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 6)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 35px;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                <img src="/img/xml-local.png" style="display: inline-block;" width="75" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>XML Solution Provider</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The XML Solution Provider returns the requested events in the local XML format.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 7)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                <img src="/img/json-epcis.png" width="75" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <div style="margin-top: 10px;"><b>Mapping...</b></div>
                                    <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/xml-local.png" style="display: inline-block;" width="75" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The XML Solution Provider's Traceability Driver uses the configured mapper to map from the XML Solution Provider's local format into
                            the EPCIS 2.0 Common Data Model and returns the events to the JSON Solution Provider's Traceability Driver in the EPCIS 2.0 format.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 8)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>JSON Solution Provider</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                <img src="/img/json-local.png" width="75" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <div style="margin-top: 10px;"><b>Mapping...</b></div>
                                    <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/json-epcis.png" style="display: inline-block;" width="75" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The JSON Solution Provider's Traceability Driver receives the events in the EPCIS 2.0 JSON format and then maps them into the local JSON format
                            for the JSON Solution Provider and returns the events to them.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 9)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block; vertical-align: inherit;">
                                <img src="/img/solutionprovider.png" width="75" />
                                <div>JSON Solution Provider</div>
                            </div>
                            <div style="margin-top: 25px; display: inline-block; vertical-align: inherit;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block; vertical-align: inherit;">
                                <img src="/img/scan.png" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" width="50" />
                                <div style="margin-top: 10px;"><b>Scanning...</b></div>
                            </div>
                            <div style="margin-top: 25px; display: inline-block; vertical-align: inherit;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block; vertical-align: inherit;">
                                <img src="/img/json-local.png" style="display: inline-block; vertical-align: unset;" width="75" />
                            </div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The JSON Solution Provider then scans the received event data for any master data it does not already have. This includes GTINs, GLNs, and PGLNs.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 10)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>JSON Solution Provider</div>
                        </div>
                        <div style="flex: 0.2;">
                            <div style="margin-top: 25px;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                                <img src="/img/sending.gif" height="50" width="50" style="display: inline-block;" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The JSON Solution Provider sends a request to it's Traceability Driver asking
                            for the master data it is looking for. In the request it provides
                            the Account that is making the request and the Trading Party they are
                            requesting the data from.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 11)
            {
                <center style="width: 100%;">
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <img src="/img/gs1.png" height="50" width="50" />
                                    <div style="margin-top: 10px;"><b>GS1 Digital Link</b></div>
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px;">
                            Again, it uses the GS1 Digital Link resolver to accomplish this.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 12)
            {
                <center style="width: 100%;">
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <img src="/img/gs1.png" height="50" width="50" />
                                    <div style="margin-top: 10px;"><b>GS1 Digital Link</b></div>
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            Using the GS1 Digital Link interface, JSON Solution Provider's Traceability Driver then looks up
                            the URL for the Master Data API that has the master data information.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 13)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <img src="/img/api.png" height="50" width="50" />
                                    <div style="margin-top: 10px;"><b>Master Data API</b></div>
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            Using the Master Data API URL provided by the GS1 Digital Link Resolver, it then queries for the master data.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 14)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 35px;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block;" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>XML Solution Provider</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The XML Solution Provider's Traceability Driver routes the request to the XML Solution Provider for the master data. The XML Solution Provider
                            returns the master data in it's local format.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 15)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 35px;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                <img src="/img/xml-local.png" style="display: inline-block;" width="75" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>XML Solution Provider</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The XML Solution Provider returns the requested master data in the local XML format.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 16)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                <img src="/img/json-web-vocab.png" width="75" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <div style="margin-top: 10px;"><b>Mapping...</b></div>
                                    <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/xml-local.png" style="display: inline-block;" width="75" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>XML Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The XML Solution Provider's Traceability Driver uses the configured mapper to map from the XML Solution Provider's local format into
                            the GS1 Web Vocab data model and returns the master data to the JSON Solution Provider's Traceability Driver in the GS1 Web Vocab JSON format.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 17)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 0.40;">
                            <img src="/img/solutionprovider.png" height="100" width="100" />
                            <div>JSON Solution Provider</div>
                        </div>
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                <img src="/img/json-local.png" width="75" />
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <div style="margin-top: 10px;"><b>Mapping...</b></div>
                                    <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                                </center>
                            </div>
                            <div style="margin-top: 25px; display: inline-block;">
                                <img src="/img/json-web-vocab.png" style="display: inline-block;" width="75" />
                                <img src="/img/arrow.gif" style="filter: grayscale(1); display: inline-block; transform: scaleX(-1);" height="25" width="50" />
                            </div>
                        </div>
                        <div style="flex: 0.40;">
                            <img src="/img/tdriver.png" height="100" width="100" />
                            <div>JSON Solution Provider's Traceability Driver</div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px; ">
                            The JSON Solution Provider's Traceability Driver receives the master data in the GS1 Web Vocab JSON format and then maps them into the local JSON format
                            for the JSON Solution Provider and returns the master data to them.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 18)
            {
                <center>
                    <center style="display: flex; flex-direction: row;">
                        <div style="flex: 1;">
                            <div style="margin-top: 25px; display: inline-block;">
                                <center>
                                    <img src="/img/success.png" style="display: inline-block; transform: scaleX(-1);" width="150" />
                                </center>
                            </div>
                        </div>
                    </center>
                    <center>
                        <div style="margin-top: 20px; margin-bottom: 20px; width: 900px;">
                            The JSON Solution Provider has successfully requested event data for the requested EPC and resolved all master data associated with that
                            event data using the traceability driver.
                        </div>
                    </center>
                </center>
            }

            @if (animationStep == 0)
            {
                <center>
                    <h6 style="text-align: left;">EPC</h6>
                    <TelerikTextBox @bind-Value="@requestEPC" />
                </center>
                <center style="margin-top: 1.0em;">
                    <button class="k-button k-primary" @onclick="@RequestData" style="width: 150px; margin-left: 0.2em;">Request</button>
                </center>
            }
        </WindowContent>
    </TelerikWindow>
</div>

@code {
    bool showRequestData = false;
    bool showRawData = false;
    string rawData = null;
    string requestEPC = null;
    int animationStep = 0;

    ObservableCollection<ITEEvent> EventsList = new ObservableCollection<ITEEvent>();

    protected override async Task OnInitializedAsync()
    {
        this.EventsList = new ObservableCollection<ITEEvent>(await SolutionProviderService.GetEventsAsync());
        base.OnInitialized();
    }

    private async Task ViewRaw(GridCommandEventArgs args)
    {
        ITEEvent row = (ITEEvent)args.Item;
        this.rawData = await this.SolutionProviderService.GetRawData(row.EventID);
        this.showRawData = true;
    }

    private void OpenRequestData(GridCommandEventArgs args)
    {
        this.showRequestData = true;
        StateHasChanged();
    }

    private async Task RequestData()
    {
        try
        {
            if (!string.IsNullOrWhiteSpace(this.requestEPC))
            {
                await this.SolutionProviderService.RequestData(this.requestEPC);

                for (animationStep = 1; animationStep < 19; animationStep++)
                {
                    StateHasChanged();
                    await Task.Delay(5000);
                }

                this.showRequestData = false;
                this.EventsList = new ObservableCollection<ITEEvent>(await SolutionProviderService.GetEventsAsync());
                StateHasChanged();
            }
        }
        catch (Exception)
        {

        }
    }
}
